.title{
    text-align: center;
    line-height: 24px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back {
    cursor: pointer;
}

.auth img {
    width: 25px;
    height: 25px;
}